#headBar2 {
    width: 100%;
    max-width: 1920px;
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftText2 {
    font-size: 30px;
    font-weight: bold;
}

#rightText2 {
    font-size: 30px;
    font-weight: bold;
}

#bodyBar2 {
    width: 100%;
    max-width: 1920px;
    height: 300px;
    background-color: #B6FFF2;
    flex-direction: column;  
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

#bodyBox2 {
    width: 486px;
    height: 172px;
    background-color:  #B6FFF2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bodyText12 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    margin-right: 20px;
}

#bodyText22 {
    font-size: 40px;
    font-weight: bold;
    color: #DED9D9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    margin-right: 0; 
    margin-bottom: 0; 
}    

#bodyText32 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    margin-bottom: 0;
}

#bottomBox2 {
    width: 141px;
    height: 15px;
    top: 40px;
    position: relative;
}

