@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
header {
  height: 70px;
  display: flex;
  align-items: center;
}
img {
  margin-right: 40px;
}
.name_page_text {
  width: 229;
  height: 70;
  margin: 0;
}
.name_page_text p {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}
.review_write_purple {
  width: 549px;
  height: 245px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review {
  color: purple;
}
.purple_p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 50px;
}
